# NetBeans specific #
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
!nbproject/jfx-impl.xml
!nbproject/build-impl.xml
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
data/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Library Files #
!library/*.jar