.text-area {    
    // -fx-font-family: ;  // TODO: preview font
    -fx-font-size: 1em;
    -fx-font-style: italic;
    -fx-font-family: nyt-franklin,nyt-franklin-1,'Helvetica Neue',Arial,sans-serif;
}

.articles-item-title {
    -fx-wrap-text: true;
    -fx-alignment: TOP_LEFT;
    -fx-padding: 0 0 0 10;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-text-fill: #444;    
    -fx-font-family: nyt-franklin,nyt-franklin-1,'Helvetica Neue',Arial,sans-serif;
}

.list-view:focused .list-cell:filled:focused:selected .articles-item-title{
    -fx-text-fill: #fff;
}
