.result-item-true *.label {
    -fx-text-fill: seagreen;
}
.result-item-false *.label {
    -fx-text-fill: darkred;
}

.list-view:focused .list-cell:filled:focused:selected .result-item-false *.label {
    -fx-text-fill: #fff;
}

.list-view:focused .list-cell:filled:focused:selected .result-item-true *.label {
    -fx-text-fill: #fff;
}